* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dc2b14;
  font-family: "Playpen Sans";
  color: aliceblue;
}

header,
footer {
  text-align: center;
  background: #dc2b14;
  padding: 1rem;
  width: 100vw;
}

h1 {
  font-weight: bolder;
  font-size: 3rem;
}

main {
  background-image: url("./images/background.jpg");
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  padding: 10px;
  width: 100vw;
}

#counting-container {
  grid-column: 1 / 2;
  grid-row: 1 /2;
  justify-self: center;
  align-self: start;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #dc2b14;
  font-weight: bolder;
  border: solid #efd148 2px;
  background-color: #c8eeb1;
  border-radius: 20px;
  padding: 8px;
}

#cookie-container {
  grid-column: 1 /2;
  grid-row: 2 / 3;
  text-align: center;
}

#clicker-image {
  max-width: 250px;
  height: auto;
  margin-top: 25px;
  cursor: pointer;
}

#clicker-image:hover {
  opacity: 0.8;
}

#clicker-image:active {
  opacity: 1;
  scale: 0.8 0.8;
}

#shop-container {
  grid-column: 2/ 3;
  grid-row: 1 /3;
  /* background: #3af090; */
  padding: 100px;
  width: 100%;
}

#left-side {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 60px;
}

.upgradeShop {
  grid-column: 2 /3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  background: #c8eeb1;
  border: solid #efd148 2px;
  border-radius: 20px;
  padding: 0.3rem;
  color: #dc2b14;
  width: 500px;
}

#upgrade-title {
  grid-column: 2 /3;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: start;
  text-align: start;
  font-size: 2rem;
  color: #dc2b14;
  font-weight: bolder;
  border: solid #efd148 2px;
  background-color: #c8eeb1;
  border-radius: 20px;
  padding: 8px;
  position: relative;
}

.buyButton {
  margin-left: auto;
  border: #efd148 solid 2px;
  padding: 0.3rem;
  border-radius: 20px;
  cursor: pointer;
}

.buyButton:hover {
  background-color: #efd148;
}

#reset-button {
  border: #dc2b14 solid 2px;
  padding: 0.2rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

#reset-button:hover {
  background-color: #64a5db;
}

audio {
  display: flex;
  flex-direction: wrap;
  width: 300px;
  height: 20px;
}

@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  #counting-container,
  #cookie-container,
  #upgrade-title {
    grid-column: 1 /2;
    grid-row: auto;
  }
  #shop-container {
    grid-column: 1 /2;
    grid-row: auto;
    padding: 100px 0px;
  }
}
