/* optional more in-depth reset */
/* @import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dc2b14;
  font-family: "Trebuchet MS", sans-serif;
  color: aliceblue;
}

header,
footer {
  text-align: center;
  background: #efd148;
  padding: 1.5rem;
  width: 100vw;
}

footer {
  margin-bottom: 0px;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  padding: 10px;
}

#counting-container {
  grid-column: 1 / 2;
  grid-row: 1 /2;
  margin-bottom: 20px;
}

#cookie-container {
  grid-column: 1 /2;
  grid-row: 2 / 3;
  text-align: center;
}

#clicker-image {
  max-width: 200px;
  height: auto;
}

#clicker-image:hover {
  opacity: 0.8;
}

#clicker-image:active {
  opacity: 1;
  scale: 0.8 0.8;
}

#shop-container {
  grid-column: 2/ 3;
  grid-row: 1 /3;
  /* background: #3af090; */
  padding: 100px;
}

#left-side {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 60px;
}

@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  #counting-container,
  #cookie-container,
  #shop-container {
    grid-column: 1 /2;
    grid-row: auto;
  }
}
